# OC4IDS Data Feedback Notebook

## Setup

### Install postgresql

In [ ]:
!sudo apt-get install postgresql

Connect to database using `psql` and set a password for the `postgres` user:

In [ ]:
!sudo -u postgres psql

Then `\password postgres` and follow prompts to set password.

Then to quit psql: `\q`

### Install packages to connect notebook to database

In [ ]:
!pip install sqlalchemy

In [ ]:
!pip install ipython-sql

In [ ]:
!pip install psycopg2-binary

### Connect to the database

In [ ]:
%load_ext sql

Update `password`:

In [10]:
%sql postgresql://postgres:password@localhost/postgres

## Import data

Use `jq` to generate a new-line delimited JSON file from a project package:

In [13]:
!cat project_package.json | jq -crM .projects[] > projects.json

Create a temp table to store imported data:

In [12]:
%%sql

create table temp (data jsonb);

 * postgresql://postgres:***@localhost/postgres
Done.

[]

Import data to `temp` table using `psql`. Use a delimiter and quote character which do not appear in the JSON file (you can check using `grep`). Update the path to `projects.json`:

In [80]:
%%sql

copy temp (data) from '/absolute/path/to/projects.json' with escape '\' delimiter '~' quote '|' CSV

 * postgresql://postgres:***@localhost/postgres
10213 rows affected.

[]

Copy data from `temp` table to `projects` table. Update the `source_id`:

In [82]:
%%sql

select
	'cost_ukraine' as source_id,
	current_timestamp as timestamp,
	trim(both '"' from (data -> 'id')::text) as id,
	data as data
into
	projects
from
	temp;

 * postgresql://postgres:***@localhost/postgres
10213 rows affected.

[]

Empty `temp` table:

In [83]:
%%sql

delete from temp

 * postgresql://postgres:***@localhost/postgres
10213 rows affected.

[]

## Check data using CoVE

### Install CoVE

In [24]:
!git clone git@github.com:open-contracting/cove-oc4ids.git

Cloning into 'cove-oc4ids'...
remote: Enumerating objects: 96, done.
remote: Counting objects: 100% (96/96), done.
remote: Compressing objects: 100% (48/48), done.
remote: Total 355 (delta 62), reused 66 (delta 46), pack-reused 259
Receiving objects: 100% (355/355), 164.91 KiB | 403.00 KiB/s, done.
Resolving deltas: 100% (136/136), done.

In [31]:
!cd cove-oc4ids; git checkout cli; pip install -r requirements.txt

Already on 'cli'
Your branch is up to date with 'origin/cli'.
Obtaining libcoveweb from git+https://github.com/OpenDataServices/lib-cove-web.git@v0.14.0#egg=libcoveweb (from -r requirements.txt (line 7))
  Cloning https://github.com/OpenDataServices/lib-cove-web.git (to revision v0.14.0) to /home/ddewhurst/.pyenv/versions/3.8.2/envs/jupyter/src/libcoveweb
  Running command git clone -q https://github.com/OpenDataServices/lib-cove-web.git /home/ddewhurst/.pyenv/versions/3.8.2/envs/jupyter/src/libcoveweb
  Running command git checkout -q 73654b76161dabe1d406cd28f8aca7fd94dceafb
Requirement already satisfied: attrs==19.3.0 in /home/ddewhurst/.pyenv/versions/3.8.2/envs/jupyter/lib/python3.8/site-packages (from -r requirements.txt (line 8)) (19.3.0)
Collecting bleach==3.1.4 (from -r requirements.txt (line 9))
  Using cached https://files.pythonhosted.org/packages/c7/bc/9c2bbd8bff5f393e3373687109117a061db4c8ccdf6b5c70b1f8834bd67a/bleach-3.1.4-py2.py3-none-any.whl
Collecting cached-property==1.5.1 (from -r requirements.txt (line 10))
  Using cached https://files.pythonhosted.org/packages/3b/86/85c1be2e8db9e13ef9a350aecd6dea292bd612fa288c2f40d035bb750ded/cached_property-1.5.1-py2.py3-none-any.whl
Collecting certifi==2020.4.5.1 (from -r requirements.txt (line 11))
  Using cached https://files.pythonhosted.org/packages/57/2b/26e37a4b034800c960a00c4e1b3d9ca5d7014e983e6e729e33ea2f36426c/certifi-2020.4.5.1-py2.py3-none-any.whl
Requirement already satisfied: chardet==3.0.4 in /home/ddewhurst/.pyenv/versions/3.8.2/envs/jupyter/lib/python3.8/site-packages (from -r requirements.txt (line 12)) (3.0.4)
Collecting commonmark==0.9.1 (from -r requirements.txt (line 13))
  Using cached https://files.pythonhosted.org/packages/b1/92/dfd892312d822f36c55366118b95d914e5f16de11044a27cf10a7d71bbbf/commonmark-0.9.1-py2.py3-none-any.whl
Collecting contextlib2==0.6.0.post1 (from -r requirements.txt (line 14))
  Using cached https://files.pythonhosted.org/packages/85/60/370352f7ef6aa96c52fb001831622f50f923c1d575427d021b8ab3311236/contextlib2-0.6.0.post1-py2.py3-none-any.whl
Collecting dealer==2.1.0 (from -r requirements.txt (line 15))
  Using cached https://files.pythonhosted.org/packages/3f/ce/a25b0b3a50e86d3049d517d7f327013ebe89437409aef048fe5563bdae19/dealer-2.1.0-py2.py3-none-any.whl
Requirement already satisfied: defusedxml==0.6.0 in /home/ddewhurst/.pyenv/versions/3.8.2/envs/jupyter/lib/python3.8/site-packages (from -r requirements.txt (line 16)) (0.6.0)
Collecting django-bootstrap3==12.0.3 (from -r requirements.txt (line 17))
  Using cached https://files.pythonhosted.org/packages/cc/9d/3e3b8c24db9790a9c7029e2c74e44236173a85fb7652657d39d587aab9a9/django_bootstrap3-12.0.3-py3-none-any.whl
Collecting django-debug-toolbar==2.2 (from -r requirements.txt (line 18))
  Using cached https://files.pythonhosted.org/packages/2c/73/45de34aa56facb61bca5458efda75bcd09730a3beea747a7f51ace945375/django_debug_toolbar-2.2-py3-none-any.whl
Collecting django-environ==0.4.5 (from -r requirements.txt (line 19))
  Using cached https://files.pythonhosted.org/packages/9f/32/76295a1a5d00bf556c495216581c6997e7fa5f533b2229e0a9d6cbaa95ae/django_environ-0.4.5-py2.py3-none-any.whl
Collecting django==2.2.14 (from -r requirements.txt (line 20))
  Downloading https://files.pythonhosted.org/packages/f2/6c/f7e0ed3d07952742439be43e7fb5a8b07b065ab927c6493be2a6cea59f33/Django-2.2.14-py3-none-any.whl (7.5MB)
     |████████████████████████████████| 7.5MB 1.3MB/s eta 0:00:01
Collecting et-xmlfile==1.0.1 (from -r requirements.txt (line 21))
  Using cached https://files.pythonhosted.org/packages/22/28/a99c42aea746e18382ad9fb36f64c1c1f04216f41797f2f0fa567da11388/et_xmlfile-1.0.1.tar.gz
Collecting flattentool==0.11.0 (from -r requirements.txt (line 22))
  Using cached https://files.pythonhosted.org/packages/aa/c0/fcd428fcb0eecba7df0d3e6581f947c683a6f3fdfb28f5db69dfbdadfe3e/flattentool-0.11.0.tar.gz
Collecting idna==2.9 (from -r requirements.txt (line 23))
  Using cached https://files.pythonhosted.org/packages/89/e3/afebe61c546d18fb1709a61bee788254b40e736cff7271c7de5de2dc4128/idna-2.9-py2.py3-none-any.whl
Collecting importlib-metadata==1.6.0 (from -r requirements.txt (line 24))
  Using cached https://files.pythonhosted.org/packages/ad/e4/891bfcaf868ccabc619942f27940c77a8a4b45fd8367098955bb7e152fb1/importlib_metadata-1.6.0-py2.py3-none-any.whl
Collecting jdcal==1.4.1 (from -r requirements.txt (line 25))
  Using cached https://files.pythonhosted.org/packages/f0/da/572cbc0bc582390480bbd7c4e93d14dc46079778ed915b505dc494b37c57/jdcal-1.4.1-py2.py3-none-any.whl
Requirement already satisfied: json-merge-patch==0.2 in /home/ddewhurst/.pyenv/versions/3.8.2/envs/jupyter/lib/python3.8/site-packages (from -r requirements.txt (line 26)) (0.2)
Requirement already satisfied: jsonref==0.2 in /home/ddewhurst/.pyenv/versions/3.8.2/envs/jupyter/lib/python3.8/site-packages (from -r requirements.txt (line 27)) (0.2)
Requirement already satisfied: jsonschema==3.2.0 in /home/ddewhurst/.pyenv/versions/3.8.2/envs/jupyter/lib/python3.8/site-packages (from -r requirements.txt (line 28)) (3.2.0)
Collecting lepl==5.1.3 (from -r requirements.txt (line 29))
  Using cached https://files.pythonhosted.org/packages/bb/89/5acd0982ca17258d13df855114364140712ac59ccdb835093c385ddc8dca/LEPL-5.1.3.tar.gz
Collecting libcove==0.17.0 (from -r requirements.txt (line 30))
  Using cached https://files.pythonhosted.org/packages/a8/0c/eeae2a10f98cc16bbc998adc106f5d2720a49f3545bf49723b1b36187bd3/libcove-0.17.0.tar.gz
Collecting libcoveoc4ids==0.1.2 (from -r requirements.txt (line 31))
  Downloading https://files.pythonhosted.org/packages/3a/61/37fa2d1099bbff0ce56f43f7b031ce11de9788fa9342185f5d5695916996/libcoveoc4ids-0.1.2.tar.gz
Collecting lxml==4.5.0 (from -r requirements.txt (line 32))
  Using cached https://files.pythonhosted.org/packages/c0/a9/1fdadc1332a17a66f9074eccd364d548a5d5b6d7b624d683aadb45ed8b1b/lxml-4.5.0-cp38-cp38-manylinux1_x86_64.whl
Collecting odfpy==1.4.1 (from -r requirements.txt (line 33))
  Using cached https://files.pythonhosted.org/packages/97/73/8ade73f6749177003f7ce3304f524774adda96e6aaab30ea79fd8fda7934/odfpy-1.4.1.tar.gz
Collecting openpyxl==2.6.4 (from -r requirements.txt (line 34))
  Using cached https://files.pythonhosted.org/packages/d6/26/eb28e975b7a37aad38d7ec4f7a0f652bdee6ecf36e6bd06f473c5af9b87b/openpyxl-2.6.4.tar.gz
Requirement already satisfied: pyrsistent==0.16.0 in /home/ddewhurst/.pyenv/versions/3.8.2/envs/jupyter/lib/python3.8/site-packages (from -r requirements.txt (line 35)) (0.16.0)
Requirement already satisfied: python-dateutil==2.8.1 in /home/ddewhurst/.pyenv/versions/3.8.2/envs/jupyter/lib/python3.8/site-packages (from -r requirements.txt (line 36)) (2.8.1)
Collecting pytz==2020.1 (from -r requirements.txt (line 37))
  Using cached https://files.pythonhosted.org/packages/4f/a4/879454d49688e2fad93e59d7d4efda580b783c745fd2ec2a3adf87b0808d/pytz-2020.1-py2.py3-none-any.whl
Collecting requests==2.23.0 (from -r requirements.txt (line 38))
  Using cached https://files.pythonhosted.org/packages/1a/70/1935c770cb3be6e3a8b78ced23d7e0f3b187f5cbfab4749523ed65d7c9b1/requests-2.23.0-py2.py3-none-any.whl
Requirement already satisfied: rfc3987==1.3.8 in /home/ddewhurst/.pyenv/versions/3.8.2/envs/jupyter/lib/python3.8/site-packages (from -r requirements.txt (line 39)) (1.3.8)
Collecting rfc6266==0.0.4 (from -r requirements.txt (line 40))
  Using cached https://files.pythonhosted.org/packages/b8/1e/0f014fef1b09eb0b6dc5f10c1fcee9433cf33f53cc17ce66932e6d7babe2/rfc6266-0.0.4.tar.gz
Collecting schema==0.7.2 (from -r requirements.txt (line 41))
  Using cached https://files.pythonhosted.org/packages/6d/ae/835f2e0d304c9533c58fe5cbcdd9124708d32e82289fcb8d6084c908ba29/schema-0.7.2-py2.py3-none-any.whl
Collecting sentry-sdk==0.14.3 (from -r requirements.txt (line 42))
  Using cached https://files.pythonhosted.org/packages/20/7e/19545324e83db4522b885808cd913c3b93ecc0c88b03e037b78c6a417fa8/sentry_sdk-0.14.3-py2.py3-none-any.whl
Collecting six==1.14.0 (from -r requirements.txt (line 43))
  Using cached https://files.pythonhosted.org/packages/65/eb/1f97cb97bfc2390a276969c6fae16075da282f5058082d4cb10c6c5c1dba/six-1.14.0-py2.py3-none-any.whl
Requirement already satisfied: sqlparse==0.3.1 in /home/ddewhurst/.pyenv/versions/3.8.2/envs/jupyter/lib/python3.8/site-packages (from -r requirements.txt (line 44)) (0.3.1)
Requirement already satisfied: strict-rfc3339==0.7 in /home/ddewhurst/.pyenv/versions/3.8.2/envs/jupyter/lib/python3.8/site-packages (from -r requirements.txt (line 45)) (0.7)
Requirement already satisfied: urllib3==1.25.9 in /home/ddewhurst/.pyenv/versions/3.8.2/envs/jupyter/lib/python3.8/site-packages (from -r requirements.txt (line 46)) (1.25.9)
Requirement already satisfied: webencodings==0.5.1 in /home/ddewhurst/.pyenv/versions/3.8.2/envs/jupyter/lib/python3.8/site-packages (from -r requirements.txt (line 47)) (0.5.1)
Collecting xmltodict==0.12.0 (from -r requirements.txt (line 48))

  Using cached https://files.pythonhosted.org/packages/28/fd/30d5c1d3ac29ce229f6bdc40bbc20b28f716e8b363140c26eff19122d8a5/xmltodict-0.12.0-py2.py3-none-any.whl
Collecting zipp==1.2.0 (from -r requirements.txt (line 49))
  Using cached https://files.pythonhosted.org/packages/96/0a/67556e9b7782df7118c1f49bdc494da5e5e429c93aa77965f33e81287c8c/zipp-1.2.0-py2.py3-none-any.whl
Requirement already satisfied: setuptools in /home/ddewhurst/.pyenv/versions/3.8.2/envs/jupyter/lib/python3.8/site-packages (from jsonschema==3.2.0->-r requirements.txt (line 28)) (41.2.0)
Installing collected packages: pytz, django, django-bootstrap3, django-debug-toolbar, certifi, idna, requests, cached-property, dealer, django-environ, zipp, sentry-sdk, lepl, rfc6266, xmltodict, jdcal, et-xmlfile, openpyxl, commonmark, six, bleach, contextlib2, schema, lxml, odfpy, flattentool, libcove, libcoveweb, importlib-metadata, libcoveoc4ids
  Found existing installation: certifi 2020.6.20
    Uninstalling certifi-2020.6.20:
      Successfully uninstalled certifi-2020.6.20
  Found existing installation: idna 2.10
    Uninstalling idna-2.10:
      Successfully uninstalled idna-2.10
  Found existing installation: requests 2.24.0
    Uninstalling requests-2.24.0:
      Successfully uninstalled requests-2.24.0
  Running setup.py install for lepl ... done
  Running setup.py install for rfc6266 ... done
  Running setup.py install for et-xmlfile ... done
  Running setup.py install for openpyxl ... done
  Found existing installation: six 1.15.0
    Uninstalling six-1.15.0:
      Successfully uninstalled six-1.15.0
  Found existing installation: bleach 3.1.5
    Uninstalling bleach-3.1.5:
      Successfully uninstalled bleach-3.1.5
  Running setup.py install for odfpy ... done
  Running setup.py install for flattentool ... done
  Running setup.py install for libcove ... done
  Running setup.py develop for libcoveweb
  Running setup.py install for libcoveoc4ids ... done
Successfully installed bleach-3.1.4 cached-property-1.5.1 certifi-2020.4.5.1 commonmark-0.9.1 contextlib2-0.6.0.post1 dealer-2.1.0 django-2.2.14 django-bootstrap3-12.0.3 django-debug-toolbar-2.2 django-environ-0.4.5 et-xmlfile-1.0.1 flattentool-0.11.0 idna-2.9 importlib-metadata-1.6.0 jdcal-1.4.1 lepl-5.1.3 libcove-0.17.0 libcoveoc4ids-0.1.2 libcoveweb lxml-4.5.0 odfpy-1.4.1 openpyxl-2.6.4 pytz-2020.1 requests-2.23.0 rfc6266-0.0.4 schema-0.7.2 sentry-sdk-0.14.3 six-1.14.0 xmltodict-0.12.0 zipp-1.2.0
WARNING: You are using pip version 19.2.3, however version 20.1.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

### Check project package

In [33]:
!python cove-oc4ids/oc4ids-cli project_package.json

### Import check results

Remove `json_data` from `results.json` and format as new-line delimited JSON:

In [38]:
!cat project_package/results.json | jq -crM 'del(.json_data)' > results_no_data.json

Import results to `temp` table. Update the path to `results_no_data.json`:

In [88]:
%%sql

copy temp (data) from '/absolute/path/to/results_no_data.json' with escape '\' delimiter '~' quote '|' CSV

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[]

Copy data from `temp` table to `cove_results`. Update the `source_id`:

In [90]:
%%sql

select
	'cost_ukraine' as source_id,
	current_timestamp as timestamp,
	data as data
into
	cove_results
from
	temp;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[]

Empty `temp` table:

In [91]:
%%sql

delete from temp;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[]

## Feedback

Set source_id and timestamps:

In [101]:
source_id = 'cost_ukraine'
timestamp = '2020-07-24 14:38:15.213986+12:00'
cove_timestamp = '2020-07-24 14:38:54.302139+12:00'

### Scope

Count projects:

In [102]:
%%sql

select
    count(*)
from
    projects
where
    source_id = '{source_id}'
and
    timestamp = '{timestamp}'

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(10213,)]

Count contracting processes:

In [103]:
%%sql

select
    count(*)
from
    projects
cross join
    jsonb_array_elements(data -> 'contractingProcesses')
where
    source_id = '{source_id}'
and
    timestamp = '{timestamp}'

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(9414,)]

### Structure and format

Structure warnings:

In [56]:
%%sql

with warnings_list as (
    select
        key as warning_type,
        regexp_split_to_array(paths::text, '/') as path_array
    from
        cove_results
    cross join
        jsonb_each(data -> 'structure_warnings')
    cross join
        jsonb_array_elements(value) as paths
)
select
    warning_type,
    array_to_string(path_array[3:], '/') as path,
    count(*) as count
from
    warnings_list
group by
    warning_type,
    path
order by
    count desc

 * postgresql://postgres:***@localhost/postgres
26 rows affected.

[('missing_ids', 'parties/0/id"', 10118),
 ('missing_ids', 'parties/1/id"', 8598),
 ('missing_ids', 'parties/2/id"', 4490),
 ('missing_ids', 'parties/3/id"', 2590),
 ('missing_ids', 'parties/4/id"', 1396),
 ('missing_ids', 'parties/5/id"', 730),
 ('missing_ids', 'parties/6/id"', 350),
 ('missing_ids', 'parties/7/id"', 146),
 ('missing_ids', 'contractingProcesses/0/summary/suppliers/0/id"', 89),
 ('missing_ids', 'parties/8/id"', 53),
 ('missing_ids', 'parties/9/id"', 27),
 ('missing_ids', 'parties/10/id"', 13),
 ('missing_ids', 'contractingProcesses/1/summary/suppliers/0/id"', 5),
 ('missing_ids', 'parties/11/id"', 5),
 ('missing_ids', 'contractingProcesses/0/summary/suppliers/1/id"', 4),
 ('missing_ids', 'parties/12/id"', 4),
 ('missing_ids', 'contractingProcesses/1/summary/suppliers/1/id"', 4),
 ('missing_ids', 'parties/14/id"', 2),
 ('missing_ids', 'parties/13/id"', 2),
 ('missing_ids', 'parties/15/id"', 2),
 ('missing_ids', 'contractingProcesses/2/summary/suppliers/0/id"', 1),
 ('missing_ids', 'contractingProcesses/3/summary/suppliers/2/id"', 1),
 ('missing_ids', 'contractingProcesses/0/summary/suppliers/2/id"', 1),
 ('missing_ids', 'contractingProcesses/1/summary/suppliers/2/id"', 1),
 ('missing_ids', 'contractingProcesses/3/summary/suppliers/0/id"', 1),
 ('missing_ids', 'contractingProcesses/2/summary/suppliers/2/id"', 1)]

### Conformance

#### Project prefix

Check project prefixes:

In [105]:
%%sql

select distinct
    substring(id from 1 for 13) as prefix
from
    projects
where
    source_id = '{source_id}'
and
    timestamp = '{timestamp}';

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[('oc4ids-q65y1l',)]

#### Updated date

Check updated dates:

In [119]:
%%sql

select
    min(data ->> 'updated') as min_date,
    max(data ->> 'updated') as maxb_date
from
    projects
where
    source_id = '{source_id}'
and
    timestamp = '{timestamp}';

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(None, None)]

<span style='background:yellow'>`updated` is not populated</span>

#### Additional fields

Additional fields reported by CoVE:

In [46]:
%%sql

select
    key as path,
    value -> 'count' as count,
    value -> 'examples' as examples,
    value -> 'additional_field_descendance' as descendents
from
    cove_results
cross join
    jsonb_each(data -> 'additional_fields')

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[('/projects/parties/role', 28526, ['procuringEntity', 'supplier', 'supplier'], {})]

#### Organization references

Check for organization references without an associated entry in the `parties` array:

### Coherence

#### Project status

Count projects by status:

In [107]:
%%sql

select
    data -> 'status' as status,
    count(*)
from
    projects
where
    source_id = '{source_id}'
and
    timestamp = '{timestamp}'
group by
    status;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(None, 10213)]

#### Project sector

Count projects by sector:

In [108]:
%%sql

select
    data -> 'sector' as sector,
    count(*)
from
    projects
where
    source_id = '{source_id}'
and
    timestamp = '{timestamp}'
group by
    sector;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(None, 10213)]

#### Project type

Count projects by type:

In [109]:
%%sql

select
    data -> 'type' as type,
    count(*)
from
    projects
where
    source_id = '{source_id}'
and
    timestamp = '{timestamp}'
group by
    type;

 * postgresql://postgres:***@localhost/postgres
7 rows affected.

[(None, 8118),
 ('Капітальний ремонт', 292),
 ('Реконструкція', 35),
 ('Поточний дрібний ремонт', 105),
 ('Поточний середній ремонт', 1472),
 ('Нове будівництво', 38),
 ('Експлуатаційне утримання', 153)]

<span style='background:yellow'>Invalid codes in `type`</span>

#### Public authority

Count projects by public authority (top 10):

In [110]:
%%sql

select
    data -> 'publicAuthority' -> 'name' as publicAuthority,
    count(*)
from
    projects
where
    source_id = '{source_id}'
and
    timestamp = '{timestamp}'
group by
    publicAuthority
order by
    count desc;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(None, 10213)]

<span style='background:yellow'>Public authority is not provided</span>

#### Project budget

Summary statistics on project budget:

In [115]:
%%sql

select
    round(min((data -> 'budget' -> 'amount' ->> 'amount')::numeric), 2) as min_budget,
    round(max((data -> 'budget' -> 'amount' ->> 'amount')::numeric), 2) as max_budget,
    round(avg((data -> 'budget' -> 'amount' ->> 'amount')::numeric), 2) as avg_budget,
    data -> 'budget' -> 'amount' -> 'currency' as currency
from
    projects
where
    source_id = '{source_id}'
and
    timestamp = '{timestamp}'
group by
    currency;

 * postgresql://postgres:***@localhost/postgres
3 rows affected.

[(Decimal('687331696.00'), Decimal('687331696.00'), Decimal('687331696.00'), 'EUR'),
 (Decimal('0.00'), Decimal('1422960000.00'), Decimal('55546790.35'), 'UAH'),
 (None, None, None, None)]

<span style='background:yellow'>Some projects have a value of 0.<span>

#### Organizations

In [122]:
%%sql

select
    parties -> 'roles' as roles,
    count(*) as count
from
    projects
cross join
    jsonb_array_elements(data -> 'parties') as parties
where
    source_id = '{source_id}'
and
    timestamp = '{timestamp}'
group by
    roles;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(None, 28526)]

`roles` is mispelled, so check `role`:

In [124]:
%%sql

select
    parties -> 'role' as role,
    count(*) as count
from
    projects
cross join
    jsonb_array_elements(data -> 'parties') as parties
where
    source_id = '{source_id}'
and
    timestamp = '{timestamp}'
group by
    role;

 * postgresql://postgres:***@localhost/postgres
3 rows affected.

[('procuringEntity', 10110), ('supplier', 9445), ('tenderer', 8971)]